/* Reset default browser styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;  /* No top and bottom margin */
    width: 100%;  /* Take the full width */
}
/* ... Rest of your CSS ... */

html, body {
    width: 100%;
    height: 100%;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 40px auto;  /* Only top and bottom margins, left and right are set to auto */
    width: 100%;  /* Take the full width */
}

header {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
}
nav {
    background-color: #f3f3f3;
    text-align: center;
    padding: 10px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
section {
    margin: 20px 0;
}
h2 {
    border-bottom: 1px solid #007bff;
    padding-bottom: 10px;
}
img.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

/* Flexbox and Cards */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-item {
    flex: 1;
    margin-bottom: 20px;
}
.project-card {
    border: 1px solid #007bff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.img-rounded {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Accessibility */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        margin: 20px;
    }
    h1, h2 {
        font-size: 24px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .flex-item {
        flex: 0 0 100%;
    }
    .project-card {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        margin: 10px;
    }
    h1, h2 {
        font-size: 20px;
    }
}

/* Social Media Icons */
.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;  /* You can choose your own color */
}

.social-media i {
    font-size: 1.5em;  /* Adjust size as needed */
}
