html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #007bff; /* This is a 'nice blue' from the Bootstrap color palette */
    font-family: Arial, sans-serif;
    color: white; /* Adjust text color for readability on the blue background */
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-bottom: 100px;
    font-family: 'Lato', sans-serif; /* This is the imported Google Font */
  }

.logo a{
    text-decoration: none;
    color: inherit; /* Inherit the color from its parent (default text color) */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    font-size: 50px;
    color: white;
}

.name {
    font-size: 2.5em; /* Adjust as needed */
    font-weight: 900; /* Lato's heaviest weight for more impact */
    color: white;
    /* Additional styling as needed */
  }

  /* Style for navigation links */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 1em; /* Or any spacing you prefer */
    font-size: 25px;
}

  /* Hover effect for links */
.navbar a:hover {
    text-decoration: underline;
}

.quick-intro {
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    text-align: center; /* Center text alignment */
    padding-bottom: 50px;
    padding-left: 200px;
    font-size: 38px;
}

  /* For the .profile-pic, if you want to center it as well within its container */
.profile-pic {
    display: block; /* Makes the image a block-level element */
    margin: 0 auto; /* Centers the image within its container */
    border-radius: 70%; /* Circular image */
    max-width: 200px; /* Adjust size as needed */
}

.intro-title {
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: left; /* Center vertically */
    padding-left: 31%;
    margin-bottom: -40px
}

.intro-text {
    text-align: left; /* Align text to the left */
    margin-right: 0; /* Position the div at the very left of the screen */
    font-size: 20px;
    padding-left: 600px;
    padding-bottom: 50px;
}

.quick-intro p{
    font-size: 1.2em;
    margin-bottom: 50px;
    padding-right: 50px;
}

hr {
    width: 40%; /* Adjust the width as needed */
    border: 1px solid white; /* Sets the style of the line */
    margin-left: auto; /* Centers the line */
    margin-right: auto; /* Centers the line */
}

.contact h1{
    padding-left: 10%;
    font-size: 50px;
}

.contact p{
    padding-left: 15%;
}

.contact a{
    color: white;
}